/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  border-bottom: 1px solid var(--text-color-light);
  /*For animation dark mode*/
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__shop,
.nav__login,  
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 5px 0;
}

.search-icon{
  font-size: var(--h2-font-size);
  color: var(--button-colorr);
  margin-right: -10%;
  z-index: 1;
}

@media screen and (min-width: 457px) {
  .search-icon{
    margin-right: -6%;
  }
}
@media screen and (min-width: 767px) {
  .search-icon{
    margin-right: -8%;
    padding-top: 8px;
  }
}
@media screen and (min-width: 1324px) {
  .search-icon{
    margin-right: -6%;
  }
}

.search-input {
  padding: 10px;
  padding-left: 70px;
  margin: 5px 0 7px 5px;
  width: 90vw;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: var(--h3-font-size);
}

.search-input::placeholder{
  color: #ccc;
}

.search-button {
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: var(--h3-font-size);
  cursor: pointer;
  background-color: var(--first-color);
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ca790f;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav__toggle,
.nav__login, 
.nav__shop {
  font-size: var(--h2-font-size);
  cursor: pointer;
}

.nav__shop :hover{
  color: var(--first-color);
}
.nav__login :hover{
  color: var(--first-color);
}
.nav__toggle:hover{
  color: var(--first-color);
}
.change-theme:hover{
  color: var(--first-color);
}

.cart-item-qty{
  position: absolute;
  font-size: 12px;
  color: #eee;
  background-color: var(--first-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  z-index: 1;
  margin-left: -8px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }

  .search-button{
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

@media screen and (min-width: 767px) {
    .nav {
       height: calc(var(--header-height) + 1.5rem);
       justify-content: initial;
       column-gap: 1rem;
     }
     
   .search-bar {
     margin: 20px 1px;
   }
   
   .search-input {
     padding: 15px;
     padding-left: 50px;
     margin: 10px;
     width: 40vw;
     padding-left: 50px;
   }
   
   .search-button {
     padding: 17px 25px;
   } 
   
     .nav__toggle, 
     .nav__close {
       display: none;
     }
     .nav__list {
       display: none;
     }
    }   