/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #F39A24;
  --hover-color: #ca790f;
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 90%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
.dark {
  --first-color: hsl(220, 45%, 66%);
  --hover-color: hsl(220, 43%, 52%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}


/*=============== HOME ===============*/
.home__container {
  position: relative;
  margin: 4.5rem .6rem 0 .6rem;
  padding-top: var(--header-height);
  background-color: var(--body-color);
}

.hero-slider {
  position: relative;
  width: 100%;
  max-height: 330px;
  height: 330px;
  overflow: hidden;
  border: 2px solid var(--border-color);
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  display: flex;
  flex: 0 0 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide:not(.active) {
  transform: translateX(-100%);
}

.slide.active ~ .slide {
  transform: translateX(100%);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--button-color);;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: .4;
  font-size: var(--h2-font-size);
}

.prev-button:hover,
.next-button:hover{
  opacity: 1;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.caption h5 {
  margin: 0;
  font-size: var(--h2-font-size);
}

.sidebar{
  display: none;
 }

 .hero-sidebar{
  display: none;
 }
 
 
@media screen and (max-width: 676px) {
  .hero-slider {
    height: 11rem;
  }
}

  @media screen and (min-width: 1192px) {
    .home__container {
      row-gap: 2.5rem;
      display: flex;
      column-gap: 1rem;  
    }

    .hero-slider {
      width: 80%;
    }

  .sidebar {
    width: 15%;
    height: 330px;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 20px;
    display: block;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
    cursor: pointer;
  }
  
  .category-list li {
    margin: 15px auto;
  }
  .category-list li i {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .category-list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .category-list :hover {
    color: var(--first-color);
  }
  
  }

 
@media screen and (min-width: 1392px){
  .home__container{
    overflow: hidden;
  }
  .hero-slider {
    width: 680px;
  }

  .sidebar {
    width: 145px;
  }

  .hero-sidebar {
    display: block;
    height: 160px;
    width: 140px;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sidebar-content h2 {
    font-size: var(--h3-font-size);
    margin-bottom: .5px;
  }
  
  .sidebar-content p {
    font-size: var(--normal-font-size);
    margin-bottom: 10px;
  }
    
  .side-slider {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    border: 2px solid var(--border-color);
    margin-bottom: 0;
  }

  .small-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .small-slide.active {
    opacity: 1;
  }
    
  .caption h5 {
    margin: 0;
    font-size: var(--small-font-size);
  }
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== FEATURED ===============*/
.featured-products {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.featured-list {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
}

.featured-card {
  flex: 0 0 auto; /* Prevent shrinking */
  width: 120px;
  border: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--container-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.featured-card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

.featured__tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  position: relative;
  transform: rotate(-90deg);
  margin-right: .5rem;
}

.featured__img { 
  height: 40%;
  width: 50%;
  margin: var(--mb-0-5) 0;
  margin-left: 15px;
}

.featured-title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.scroll-button{
  opacity: .5;
  background-color: var(--hover-color);
}
.scroll-button:hover{
  opacity: .9;
}

/*=============== TESTIMONIAL ===============*/
.banner-container {
  margin-top: -4rem;
  row-gap: 1rem;
}

.banner-img {
  width: 100%;
  padding: 8px;
  background-color: var(--border-color);
  border-radius: 5px;
}


/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: .3s;
}

.products__img {
  height: 95px;
  margin-bottom: var(--mb-1);
}

.products__title, 
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: .4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

/*=============== STORY ===============*/
.story__container {
  row-gap: 7.5rem;
}

.story__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.story__description {
  margin-bottom: var(--mb-2-5);
}

.story__images {
  position: relative;
}

.story__img, 
.story__square {
  width: 250px;
}

.story__square {
  height: 250px;
  background-color: var(--first-color);
}

.story__img {
  position: absolute;
  left: 3rem;
  top: -3rem;
}


/*=============== NEW ===============*/

.marquee {
  position: relative;
  height: 300px;
  width: 100%;
  overflow-x: hidden;
}

.new-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 8px;
  border: 1px solid var(--border-color);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite alternate;
  width: 300%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-70%); }
}

@media screen and (max-width: 420px) {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}

@media screen and (max-width: 320px) {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-120%); }
  }
}

.new__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: .3s;
}

.new__tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: .3s;
}

.new__img {
  height: 150px;
  margin-bottom: var(--mb-1);
}

.new__title, 
.new__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.new__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.new__price {
  display: block;
  color: var(--first-color);
  transition: .3s;
}

.new__card:hover {
  background-color: var(--first-color);
}

.new__card:hover .new__tag {
  background-color: var(--button-color);
}

.new__card:hover .new__price {
  color: hsl(0, 0%, 15%);
}

/*=============== NEWSLETTER ===============*/
.newsletter__bg {
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title {
  font-size: var(--h1-font-size);
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description {
  color: hsl(0, 0%, 35%);
}

.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.newsletter__input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem 1rem;
  color: hsl(0, 0%, 15%);
}


/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .1rem;
  /* background: hsl(0, 0%, 74%); */
}

/* ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
} */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .story__square,
  .story__img,
  .testimonial__square {
    width: 180px;
  }

  .story__square,
  .testimonial__square {
    height: 180px;
  }  
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .products__container{
    grid-template-columns: repeat(4, 125px);
    gap: 1.2rem;
    justify-content: center;
  }

  .featured__img { 
    height: 50%;
    width: 70%;
  }
  
  .products__img {
    height: 90px;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .story__container,
  .testimonial__container,
  .newsletter__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .testimonial__container {
    column-gap: 1rem;
  }

  .story__section-title {
    text-align: initial;
  }
  .story__section-title::before {
    margin: initial;
  }
  .story__images {
    order: -1;
  }

  .products__container {
    grid-template-columns: repeat(4, 170px);
    gap: 1.5rem;
  }

  .products__card {
    padding: 2rem 0;
  }

  .products__img {
    height: 125px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }
  .newsletter__subscribe {
    flex-direction: row;
  }
  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }

  .product-image img {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }


  .products__container {
    grid-template-columns: repeat(4, 200px);
    gap: 2rem;
  }
  
  
  .story__container {
    column-gap: 8rem;
  }

  .story__square,
  .story__img{
    width: 450px;
  }

  .story__square{
    height: 450px;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }

  .testimonial__container {
    column-gap: 1.5rem;
  }
 
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  
  .story__container {
    column-gap: 13rem;
  }
  
  .testimonial__container{
    column-gap: 2rem;
  }

  .story__container {
    padding-top: 3rem;
  }
  .story__img {
    left: 5rem;
    top: -5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
